<div class="container">
    <div class="main">
        <h1 class="main-title">What are you looking for?</h1>
        <div class="search-container">
            <input type="text" class="search-bar" placeholder="Search">
        </div>
    </div>
    <h2 class="subtitle">Explore companies by category</h2>
    <div class="categories">
        <div class="category-box">
            <h3 class="category-title">Bank</h3>
            <ul class="category-list">
                <a href="#"><li>HDFC Bank</li></a>
                <a href="#"><li>Axis Bank</li></a>
                <a href="#"><li>ICIC  Bank</li></a>
                <a href="#"><li>Indian Bank</li></a>
            </ul>
        </div>
        <div class="category-box">
            <h3 class="category-title">Car Dealer</h3>
            <ul class="category-list">
                <a href="#"><li>Maruti Suzuki</li></a>
                <a href="#"><li>Hyundai</li></a>
                <a href="#"><li>Tata Motors</li></a>
                <a href="#"><li>Mahindra</li></a>
            </ul>
        </div>
        <div class="category-box">
            <h3 class="category-title">Clothing Store</h3>
            <ul class="category-list">
                <a href="#"><li>Fabindia</li></a>
                <a href="#"><li>Pantaloons</li></a>
                <a href="#"><li>Shoppers Stop</li></a>
                <a href="#"> <li>Lifestyle</li></a>
            </ul>
        </div>
        <div class="category-box">
            <h3 class="category-title">Jewelry</h3>
            <ul class="category-list">
                <a href="#"><li>Tanishq</li></a>
                <a href="#"><li>Kalyan Jewellers</li></a>
                <a href="#"><li>Malabar Gold</li></a>
                <a href="#"><li>PC Jeweller</li></a>
            </ul>
        </div>
    </div>
</div>
