body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.main-title {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.search-container {
    margin-bottom: 20px;
}

.search-bar {
    width: 60%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.subtitle {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.category-box {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
}

.category-box:hover {
    transform: translateZ(10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.category-title {
    font-size: 1.2em;
    margin: 0;
    padding: 20px;
    transition: background-color 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}

.category-box:nth-child(1) .category-title {
    background-color: #ffebcd;
}

.category-box:nth-child(1) .category-title:hover {
    background-color: #ffa07a;
}

.category-box:nth-child(2) .category-title {
    background-color: #ffb6c1;
}

.category-box:nth-child(2) .category-title:hover {
    background-color: #ff69b4;
}

.category-box:nth-child(3) .category-title {
    background-color: #e0ffff;
}

.category-box:nth-child(3) .category-title:hover {
    background-color: #afeeee;
}

.category-box:nth-child(4) .category-title {
    background-color: #98fb98;
}

.category-box:nth-child(4) .category-title:hover {
    background-color: #acee90;
}

.category-list {
    list-style-type: none;
    padding: 80px 0 0 0; /* Padding adjusted to give space for the title */
    margin: 0;
    z-index: 0;
    position: relative;
}

.category-list li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.category-list li:last-child {
    border-bottom: none;
}
.main{
    text-align: center;
}
