<div class="container">
    <div class="content">
      <div class="header-row">
        <img src="/assets/projectfor trustme/Fabindia.jpg" alt="HDFC Bank">
        <div *ngIf="fabindiaclothingDetails">
          <h1>{{ fabindiaclothingDetails.name }}</h1>
          <p>Trust Score: {{ fabindiaclothingDetails.trustscore }}</p>
          <p>Reviews: {{ fabindiaclothingDetails.reviews }}</p>
          <div class="stars">
            <span *ngFor="let star of [1, 2, 3, 4, 5]" class="star" [class.filled]="star <= fabindiaclothingDetails.trustscore">★</span>
          </div>
        </div>
      </div>
      <div class="action-row">
        <a href="https://www.fabindia clothing.com/?utm_medium=company_profile&utm_source=trustpilot&utm_campaign=domain_click">
          <button class="visit-button"><p>FABINDIA CLOTHING.COM</p>Visit this website</button>
        </a>
      </div>
    </div>
  </div>
  
  <div class="recentreviews">
    <app-recentreviews></app-recentreviews>
  </div>
  
  <div class="recent">
    <div class="reviews">
      <marquee behavior="scroll" direction="left" scrollamount="5">
        <div class="reviews-container">
          <div *ngFor="let review of reviews" class="review-box">
            <div class="profile-photo">
              <img [src]="review.profilePhoto" alt="{{ review.name }}">
            </div>
            <div class="review-content">
              <h3>{{ review.name }}</h3>
              <p>{{ review.review }}</p>
              <div class="rating">
                <span *ngFor="let star of [1, 2, 3, 4, 5]" [ngClass]="{'filled': review.rating >= star, 'one-star': review.rating === 1, 'two-star': review.rating === 2, 'three-star': review.rating === 3, 'four-star': review.rating === 4, 'five-star': review.rating === 5}">★</span>
              </div>
            </div>
          </div>
        </div>
      </marquee>
    </div>
  </div>
  
