<!-- reset-password.component.html -->
<div class="box">
    <div>
      <label>Reset Password</label>
      Duis sagittis molestie tellus, at eleifend sapien pellentesque quis. Fusce lorem nunc, fringilla sit amet nunc.
    </div>
    <div>
      <label>Password</label>
      <input type="password" placeholder="8-Characters" [(ngModel)]="password">
      <label>Confirm Password</label>
      <input type="password" [(ngModel)]="confirmPassword">
      <button (click)="resetPassword()">RESET PASSWORD</button>
    </div>
  </div>
  
