.form-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .form-header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .form-header span {
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: 2px solid transparent;
  }
  
  .form-header .active {
    border-bottom: 2px solid #f77504;
  }
  
  .form-content {
    background: #fffdfd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(254, 0, 0);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    background-color: #fffdfd;
    box-shadow: 0 0 10px rgb(2, 27, 247);
    border-radius: 10px;
    border:#fffdfd
    
  }
  
  .forgot-password {
    display: block;
    margin-top: 5px;
    text-align: right;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
  }
  button{
    background-color: rgb(43, 191, 102);
    box-shadow: red;
    border: none;
    border-radius: 10px;
  }
  button:hover{
    background-color: royalblue;
  }