<div class="container">
    <h1 class="main-title">Explore companies by category</h1>
    <div class="categories">
      <div *ngFor="let category of categories" class="category-box" (click)="loadCategoryCompanies(category)">
        <div class="category-title">{{ category.name }}</div>
        <ul *ngIf="selectedCategoryName === category.name" class="category-list">
          <li *ngFor="let company of selectedCategoryCompanies">
            <a [routerLink]="['/company', company.companyid]">{{ company.name }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>


  

  
  