<div class="container">
    <div class="content">
        <div class="header-row">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS91g86GYPEmouJD3LiPGSYtYYW9XycFIu4pA&s" alt="HDFC Bank">
            <h1>HDFC Bank</h1>
            <div>
                Reviews good
            </div>
            <div>
                Star rating for overall
            </div>
            <div class="action-row">
                <button class="visit-button">Visit this website</button>
                <!-- <span class="reviews-count">Reviews count: {{ reviewsCount }}</span> -->
            </div>
        </div>
    </div>
</div>
