<div class="box">
    <div>
      <label>Forget Password</label>
      <span>Enter the address or mobile phone number associated with your Clicon account.</span>
    </div>
    <div>
      <label>Email Address</label>
      <input type="email" [(ngModel)]="email">
      <button (click)="sendCodefor()">SEND CODE</button>
    </div>
    <div>
      Already have an account? <a routerLink="/login">Sign In</a><br>
      Don't have an account? <a routerLink="/signup">Sign Up</a>
    </div>
    <hr>
    <div>
      You may contact Customer Service for help restoring access to your account.
    </div>
  </div>
  
